div.wdts-transcript {
  border: solid #333 1px;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #e7e7e7
}

div.wdts-transcript div, div.wdts-transcript span {
  font-family: 'Courier New'
}

div.wdts-transcript > div {
  margin-bottom: 0.5em
}

div.wdts-transcript div.wdts-scene-heading {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold; 
  margin-bottom: 0.5em
}

div.wdts-transcript div.wdts-dialog {
  text-align: center
}

div.wdts-transcript div.wdts-dialog span {
  display: block 
}

div.wdts-transcript div.wdts-dialog span.wdts-name {
  text-transform: uppercase 
}

div.wdts-transcript div.wdts-dialog span.wdts-speech {
  margin: 0.5em 1em 0
}